 **1. print'Hello Python' ten times**

In [1]:
i=1
while i<=10:
    print('Hello Python')
    i=i+1

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python

**2. print number from 1 to 10**

In [2]:
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

**3. print sum of first ten number**

In [3]:
i=1
add=0
while i<=10:
    add=add+i
    i=i+1
print(add)

55

**4. print sum of n numbers**

In [4]:
i=1
n=int(input('enter the number'))
add=0
while i<=n:
    add=add+i
    i=i+1
    print(add)

enter the number33
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561

**5. calculate factorial of a number**

In [5]:
n=int(input('enter any number'))
i=1
count=0
for i in range(1,n+1):
    if n%i==0:
        print(i)
        i=i+1

enter any number34
1
2
17
34

***7. print reverse of a number***

In [ ]:
n=int(input('enter the number'))
for i in range(n,0,-1):
     print(i)

***8. print sum of reverse number***

In [6]:
n=int(input('enter the number'))
i=1
sum=0
for i in range(n):
    rem=n%10
    sum=sum+rem
    n=n//10
print('sum of reverse of number', sum)

enter the number45
sum of reverse of number 9

***9. cheak given number is palindrome or not***

In [7]:
n=int(input('enter the number'))
i = 1
rev = 0
org = n
for i in range(n):
    rem = n%10
    rev = (rev*10)+rem
    n = n//10
    if n==0:
        break
    if org==rev:
        print(org, 'is palindrome')
    else:
        print(org, 'is palindrome')

enter the number23
23 is palindrome

***10. cube of all given numbebrs from 1 to n***

In [8]:
n=int(input('enter the number'))
for i in range(n):
    i+=1
    print('cube of',i,'\t:',i**3)

enter the number34
cube of 1 	: 1
cube of 2 	: 8
cube of 3 	: 27
cube of 4 	: 64
cube of 5 	: 125
cube of 6 	: 216
cube of 7 	: 343
cube of 8 	: 512
cube of 9 	: 729
cube of 10 	: 1000
cube of 11 	: 1331
cube of 12 	: 1728
cube of 13 	: 2197
cube of 14 	: 2744
cube of 15 	: 3375
cube of 16 	: 4096
cube of 17 	: 4913
cube of 18 	: 5832
cube of 19 	: 6859
cube of 20 	: 8000
cube of 21 	: 9261
cube of 22 	: 10648
cube of 23 	: 12167
cube of 24 	: 13824
cube of 25 	: 15625
cube of 26 	: 17576
cube of 27 	: 19683
cube of 28 	: 21952
cube of 29 	: 24389
cube of 30 	: 27000
cube of 31 	: 29791
cube of 32 	: 32768
cube of 33 	: 35937
cube of 34 	: 39304

***11. check wether given number is prime or not***

#### n=int(input('enter the number'))
if n>1:
    for i in range(2,int(n/2)+1):
        if (n%i)==0:
            print(n,'is not a prime number')
            break
    else:
        print(n,'is a prime number')
else:
        print(n,'is not a prime number')

***12. list of prime numbers from 1 to 100***

In [1]:
print('list of prime number from 1 to 100:')
for n in range(1,101):
    c=0
    for i in range(2,(n//2+1)):
        if(n%i==0):
         c=c+1
         break
        
    if(c==0 and n>1):
        print(n)

list of prime number from 1 to 100:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97