***write a program to print the following number pattern using loop
a)1
  12
  123
  1234
  12345***

In [1]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end='')
    print()

1
12
123
1234
12345

***write a program to print the pattern using loop
b) 1
   22
   333
   4444
   55555***

In [2]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i,end='')
    print()

1
22
333
4444
55555

***write a program to print the pattern using loop
d)12345
  1234
  123
  12 
  1***

In [3]:
n=int(input('enter the number of rows'))
for i in range(n,0,-1):
    for j in range(1,i+1):
        print(j,end='')
    print()

enter the number of rows5
12345
1234
123
12
1

***write a program to print the pattern using loop
e)54321
  4321
  321
  21 
  1***

In [4]:
n=int(input('enter the number of rows'))
for i in range(n):
    for j in range(n-i-1,-1,-1):
        print(j+1,end='')
    print()

enter the number of rows5
54321
4321
321
21
1