***program to create a tuple***

In [3]:
a=tuple(input('enter the number'))
print(a)
print(type(a))

enter the number3421987
('3', '4', '2', '1', '9', '8', '7')
<class 'tuple'>

***program to create tuple with different data types***

In [5]:
t=('divya',4.23,9,False)
print(t)
print(type(t))

('divya', 4.23, 9, False)
<class 'tuple'>

***program to create tuple with numbers and print one item***

In [7]:
a=tuple(input('enter the number'))
print(a)
print('any one integer item ',int(a[3]))

enter the number45678912
('4', '5', '6', '7', '8', '9', '1', '2')
any one integer item  7

***program to add an item in tuple***

In [10]:
t=(8,5,3,1,9)
t1=t+(6,)
print(t)

(8, 5, 3, 1, 9)

***program to convert tuple to a string***

In [11]:
t=tuple(input('enter the number'))
print(t)
print(type(t))
s=str(t)
print(s)
print(type(s))

enter the number5678329
('5', '6', '7', '8', '3', '2', '9')
<class 'tuple'>
('5', '6', '7', '8', '3', '2', '9')
<class 'str'>

***program to get 4th element from first and last of tuple***

In [13]:
t=tuple(input('enter the number'))
print(t)
print('4th element from first',t[3])
print('4th element from last',t[-4])

enter the number123456789
('1', '2', '3', '4', '5', '6', '7', '8', '9')
4th element from first 4
4th element from last 6